@page
@model MyFirstApp.Pages.BookList.AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="text-center">
<h1 style= "color:gey" >About  page</h1>
<p style= "font-size:20px"> This is good application for any user there we can create book details easily , update and delete also we can 
do easily.</p>
</div>